@{
    Layout = null;
}
@using SmartHouse.Models;
@model IEnumerable<IDevice>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SmartHouse</title>
    <link rel="stylesheet" type="text/css" href="../Content/reset.css" />
    <link rel="stylesheet" type="text/css" href="../Content/style.css" />
</head>
<body>
    <div class="wrapper">
        <div class="header">
        </div>

        <div class="main">
            <div id="LeftCol" class="left-col">
                <h1>Add device</h1>
                <h2>1. Input name of new device:</h2>
                <input name="NameOfNewDevice" type="text" id="NameOfNewDevice" class="name-of-new-device" />
                <h2>2. Choose type of new device:</h2>
                <a class="btn-add" href="/Home/Add?sName=xxx&sType=Lamp">
                    <div class="add-device">
                        <h3>LAMP</h3>
                        <img class="add-icon" src="../Content/images/lamp_3.png" />
                    </div>
                </a>
                <a class="btn-add" href="/Home/Add?sName=xxx&sType=Fan">
                    <div class="add-device">
                        <h3>FAN</h3>
                        <img class="add-icon" src="../Content/images/fan_3_1.png" />
                    </div>
                </a>
                <a class="btn-add" href="/Home/Add?sName=xxx&sType=Louvers">
                    <div class="add-device">
                        <h3>LOUVERS</h3>
                        <img class="add-icon" src="../Content/images/louvers_3.png" />
                    </div>
                </a>
                <a class="btn-add" href="/Home/Add?sName=xxx&sType=Tv">
                    <div class="add-device">
                        <h3>TV</h3>
                        <img class="add-icon" src="../Content/images/tv_3.png" />
                    </div>
                </a>
            </div>

            <div id="RightCol" class="right-col">
                @foreach (var dev in Model)
                {
                    <div class="device-status">
                        @*Header of device*@
                        <div class="device-status-header">
                            <img class="device-status-icon" src="../Content/images/@Html.Raw(dev.GetType().Name)_3.png" alt="Device's icon" />
                            <span class="device-status-name">@dev.Name</span>
                            <a class="device-status-btn-del" href="/Home/Del?id=@dev.Id&sType=@dev.GetType().Name">
                                <img class="device-status-img-del" src="../Content/images/del_green_2.png" alt="Delete" />
                            </a>
                        </div>

                        @*State of device*@
                        <div class="device-div-on-off">
                            @if (dev.State == true)
                            {
                                <span class="device-state">State: ON</span>
                            }
                            else
                            {
                                <span class="device-state">State: OFF</span>
                            }

                            @{var sImgFile = "";
                            switch (dev.GetType().Name)
                            {
                                case "Lamp":
                                    if (dev.State)
                                        {sImgFile = "lamp_on.png";}
                                    else
                                        {sImgFile = "lamp_off.png";}
                                break;
                                case "Fan":
                                    if (dev.State)
                                        {sImgFile = "fan_" + ((Fan)dev).Speed.Value.ToString() + ".gif";}
                                    else
                                        {sImgFile = "fan_stop.png";}
                                    break;
                                case "Louvers":
                                    if (dev.State)
                                        {sImgFile = "louvers_" + ((Louvers)dev).Open.Value.ToString() + ".png";}
                                    else
                                        {sImgFile = "louvers_stop.png";}
                                    break;
                                case "Tv":
                                    if (dev.State)
                                        {sImgFile = "tv_" + ((Tv)dev).Channel.ToString() + ".png";}
                                    else
                                        {sImgFile = "tv_stop.png";}
                                    break;
                            }
                            }
                            <img class="device-image" src="../Content/images/@Html.Raw(sImgFile)" />
                        </div>

                        @if (dev.State)
                        {
                            if (dev is IDevSpeed)
                            {
                                <div class="device-div-on-off">
                                    <div class="device-div-speed-left">
                                        <span class="device-status-name">Speed</span>
                                    </div>
                                    <div class="device-div-speed-right">
                                        <a href="/Home/Down?id=@dev.Id&sType=@dev.GetType().Name&sParam=Speed">
                                            <img class="device-div-speed-img" src="../Content/images/btn_down.png" />
                                        </a>
                                        <img class="device-div-speed-state" src="../Content/images/val_@Html.Raw(((Fan)dev).Speed.Value + ".png")" />
                                        <a href="/Home/Up?id=@dev.Id&sType=@dev.GetType().Name&sParam=Speed">
                                            <img class="device-div-speed-img" src="../Content/images/btn_up.png" />
                                        </a>
                                    </div>
                                </div>
                            }

                            if (dev is IDevVolume)
                            {
                                <div class="device-div-on-off">
                                    <div class="device-div-speed-left">
                                        <span class="device-status-name">Volume</span>
                                    </div>
                                    <div class="device-div-speed-right">
                                        <a href="/Home/Down?id=@dev.Id&sType=@dev.GetType().Name&sParam=Volume">
                                            <img class="device-div-speed-img" src="../Content/images/btn_down.png" />
                                        </a>
                                        <img class="device-div-speed-state" src="../Content/images/val_@Html.Raw(((Tv)dev).Volume.Value + ".png")" />
                                        <a href="/Home/Up?id=@dev.Id&sType=@dev.GetType().Name&sParam=Volume">
                                            <img class="device-div-speed-img" src="../Content/images/btn_up.png" />
                                        </a>
                                    </div>
                                </div>
                            }

                            if (dev is IDevOpen)
                            {
                                <div class="device-div-on-off">
                                    <div class="device-div-open-left">
                                        <span class="device-status-name">Open: @Html.Raw((50 * ((Louvers)dev).Open.Value).ToString())%</span>
                                    </div>
                                    <div class="device-div-open-right">
                                        <a href="/Home/Down?id=@dev.Id&sType=@dev.GetType().Name&sParam=Open">
                                            <img class="device-div-speed-img" src="../Content/images/btn_down.png" />
                                        </a>
                                        <a href="/Home/Up?id=@dev.Id&sType=@dev.GetType().Name&sParam=Open">
                                            <img class="device-div-speed-img" src="../Content/images/btn_up.png" />
                                        </a>
                                    </div>
                                </div>
                            }

                            if (dev is Tv)
                            {
                                <div class="device-div-on-off">
                                    <div class="device-div-speed-left">
                                        <span class="device-status-name">Program</span>
                                        <img class="device-div-prog-state" src="../Content/images/icon_@Html.Raw(((Tv)dev).Channel.ToString() + ".png")" />
                                    </div>
                                    <div class="device-div-speed-right">
                                        <a href="/Home/Down?id=@dev.Id&sType=@dev.GetType().Name&sParam=Program">
                                            <img class="device-div-speed-img" src="../Content/images/btn_down.png" />
                                        </a>
                                        <a href="/Home/Up?id=@dev.Id&sType=@dev.GetType().Name&sParam=Program">
                                            <img class="device-div-speed-img" src="../Content/images/btn_up.png" />
                                        </a>
                                    </div>
                                </div>
                            }
                        }

                        @*Turn on/off*@
                        <div class="device-div-on-off">
                            <div class="device-div-on-off-left">
                                <span class="device-status-name">Turn on/off</span>
                            </div>
                            <div class="device-div-on-off-right">
                                <a class="device-div-on-off-cmd-btn" href="/Home/OnOff?id=@dev.Id&sType=@dev.GetType().Name">
                                    @if (dev.State == true)
                                    {
                                        <img class="device-div-on-off-cmd-img" src="../Content/images/btn_on.png" />
                                    }
                                    else
                                    {
                                        <img class="device-div-on-off-cmd-img" src="../Content/images/btn_off.png" />
                                    }
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../Content/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../Content/js/main.js"></script>
</body>
</html>
